:root {
    --button-size: 25px;
    --spacingFromBox: 20px;
    --boxImageSize: 640px;
    --cardLining: rgb(202, 202, 202);
}

.container {
  margin-left: 420px;
}

.cardOuter {
    display: flex;
    flex-direction: column;
    width: var(--boxImageSize);
    height: auto;
    /* border-radius: '10px'; */
    border: 1px solid var(--cardLining);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

.cardImage {
  height: calc(var(--boxImageSize) * 0.66);
  object-fit: cover;
  /* border-radius: 10px; */
  margin: var(--spacingFromBox) auto;
  /* border: 1px solid pink; */
}

/* description */

.description {
  padding: 0 var(--spacingFromBox);
  /* above prop is somehow not working??? */
  min-height: 60px;
  max-height: none;
  /* border: 1px solid black; */
}

.lineContainer1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 0 var(--spacingFromBox);
  color: black;
}

.eventDate {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  padding-right: var(--spacingFromBox);
}

.eventDescription {
  font-size: 16px;
  color: #444;
  height: auto;
  padding: 0 var(--spacingFromBox);
  /* border: 1px solid black; */
}

.posted {
  font-size: 12px;
  color: #888;
  text-align: right;
  padding-bottom: 12px;
  margin-right: var(--spacingFromBox); /* unnecessary */
  /* border: 1px solid black; */
}

/* separator */

.separator {
  width: inherit;
  height: auto;
  border-top: 1px solid var(--cardLining);
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-left: var(--spacingFromBox);
  font-weight: bold;
}

.institute {
  margin: 0;
  /* border: 1px solid black; */
}

.club {
  margin: 0;
  /* border: 1px solid black; */
}

.buttons {
  margin-right: calc(var(--spacingFromBox));
  display: flex;
  /* border: 1px solid black; */
}

.eachButtons {
  width: var(--button-size);
  height: var(--button-size);
  margin: 10px;
}
