@import './variables.css';

:root {
    --loginCardRadius: 12px;
    --loginImageSize: 400px;
    --loginCardBgColor: #ddd;
    --inputFieldFont: 18px;
    --inputFieldPadding: 0 15px;
    --fontLoginColor: #444;
	  --activeColour: rgb(84, 104, 255);
}

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    /* background-color: var(--bgColor); */
    /* color: var(--fontColor); */
    /* To prevent Horizontal scrolling */
}

.loginContainer {
    background-color: var(--loginCardBgColor);
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border-radius: var(--loginCardRadius);
    display: flex;
    flex-direction: row;
    margin: 150px auto;
    /* box-shadow: 0 0 10px 2px rgba(202, 202, 202, 1); */

	/* temp */
	box-shadow: 0 0 10px 2px #bbb;
}

.loginImg {
    width: var(--loginImageSize);
    height: var(--loginImageSize);
    border-radius: var(--loginCardRadius);
    border: 2px solid #ccc;
}

.loginPart {
    height: var(--loginImageSize);
    width: var(--loginImageSize);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.loginPart > div > p:nth-child(1) {
	font-size: 30px;
	font-weight: 600;
	padding: 0;
	margin: 0;
	color: var(--fontLoginColor);
}

.loginPart > div > p:nth-child(2) {
	font-size: 20px;
	font-weight: 500;
	padding-top: 10px;
	margin: 0;
	color: var(--fontLoginColor);
  display: flex;
  align-items: center;
  justify-content: center;
}


.loginTitle {
	color: var(--fontLoginColor);
    font-weight: 600;
    font-size: 24px;
    font-family: Arial;
	/* border: 1px solid white; */
}

.loginButton {
	width: 7rem;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	padding: 8px;
	/* border: 2px solid #444; */
	border-radius: 24px;
	transition: 0.3s ease;
	/* background-color: #758cff; */
	background-color: var(--activeColour);
	color: white;
}

.loginButton:hover {
	cursor: pointer;
	transform: translateY(-3px);
	background-color: blue;
}

/* testing */

.inputField {
  position: relative;

}

.inputField input {
  width: 330px;
  height: 50px;
  padding: var(--inputFieldPadding);
  border: 2px solid black;
  border-radius: 6px;
  background-color: transparent;
  outline: none;
  color: var(--fontLoginColor);
  font-size: var(--inputFieldFont);
}

.inputField label {
  color: var(--fontLoginColor);
  position: absolute;
  top: 15px;
  left: 0px;
  transition: 0.3s ease;
  font-size: var(--inputFieldFont);
  padding: var(--inputFieldPadding);
  pointer-events: none;
}

.loginEmail:focus {border: 2px solid var(--activeColour);}

.inputField input:focus + label,
.inputField input:not(:placeholder-shown) + label {
  top: -8px;
  left: 10px;
  font-size: 16px;
  color: var(--fontLoginColor);
  background: var(--loginCardBgColor);
  padding: 0 5px;
}